/*### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */

:root {

--org-bck: hsl(31, 77%, 52%);
--teal-bck: hsl(184, 100%, 22%);
--grn-bck: hsl(179, 100%, 13%);
--txt-prm: hsla(0, 0%, 100%, 0.75);
--txt-scnd: hsl(0, 0%, 95%);

}

*,
*::before,
*::after {

box-sizing: border-box;

}

body {
    
color: var(--txt-prm);
font-family: "Lexend Deca";
font-size: 15px;
line-height: 1.6;
margin: 0;
padding: 0;
overflow-X: hidden;
background: var(--txt-scnd);

}

h2{
    margin: 0;
}


main {

width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

section {
    border-radius: 10px;
    overflow: hidden;
    width: min(85%, 925px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

section > * {


flex-basis: 33.33%;

    }

.col {


padding: 3rem 2rem;

}

.col h2 {

color: var(--txt-scnd);
font-family: "Big Shoulders Display";
font-size: 2rem;
font-weight: 700;    
margin-top: .55em;
text-transform: uppercase;

}

.col-1 {

background: var(--org-bck);

}

.col-2 {

background: var(--teal-bck);
    
    }

.col-3 {

background: var(--grn-bck);
        
        }    

.col p {

width: min(85%, 265px); 


}
        
.btn-lrn {
    
color: black;
background: () no-repeat;
background-color: var(--txt-scnd);
border: none;
border-radius: 3rem;
font-size: 16px;
font-weight: 500;
margin-top: 4rem;
mix-blend-mode: screen;
width: 8rem;
height: 2.5rem;
text-transform: capitalize;

}

.btn-lrn:hover {

    border: 2px solid var(--txt-scnd);
    background: none;
    color: white;

}

footer {
    text-align: center;
    color: black;
}

@media (max-width: 849px) {

    main {

        margin: 2.5rem 0;
        height: 100%;
    }

    section {
        flex-direction: column;
        width: min(85%, 95%);
    }

    .btn-lrn {
        margin-top: 1rem;
    }

    .col {
        max-width: 18rem;
        
        
    }

    .col p {

        margin-top: 1.25rem;

    }

    .col-1 {
        border-radius: 10px 10px 0 0;
    }

    .col-3 {
        border-radius: 0 0 10px 10px;
    }
    
    }


@import "media_949.css";

